<div class="confirmation_message text-center">
  <h1 id="fight_word"><%=@game.fight_word%></h1>
  <h2 class="text-center"><%=@game.opponent.name %> attacked <%=@game.current_player.name %></h2>
  <h3><%=@game.current_player.name %> has <%=@game.current_player.hit_points%> HP remaining</h3>
  <a class="btn btn-primary" href="/play">OK</a>
</div>
