<div id="title" class="row text-center">
  <div class="col-lg-12">
    <h1><%=@game.player1.name%> vs <%=@game.player2.name%></h1>
    <hr>
  </div>
</div>

<div id="turn_indicator" class="row text-center">
  <div class="col-lg-12">
    <h2><%=@game.current_player.name%>'s turn</h2>
  </div>
</div>

<div id="health_points" class="row">
  <div class="col-lg-6">
    <h3><%=@game.current_player.name%>'s HP: <%=@game.current_player.hit_points%></h3>
  </div>
  <div class="col-lg-6 text-right">
    <h3><%=@game.opponent.name %>'s HP: <%=@game.opponent.hit_points%></h3>  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card text-center">
      <i class="fas fa-bomb"></i>
      <div class="card-body">
        <h5 class="card-title text-center">Attack</h5>
        <form action="/attack" method="post">
          <input class="btn btn-primary btn-block" type="submit" name="move" value="Bite">
          <input class="btn btn-primary btn-block" type="submit" name="move" value="Scratch">
          <input class="btn btn-primary btn-block" type="submit" name="move" value="Karate Chop">
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center">
      <i class="fas fa-shield-alt"></i>
      <div class="card-body">
        <h5 class="card-title text-center">Defend</h5>
        <form class="form-inline" action="/heal">
          <input class="btn btn-primary btn-block" type="submit" name="move" value="Heal">
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-center">
      <i class="fas fa-heartbeat"></i>
      <div class="card-body">
        <h5 class="card-title">Special</h5>
        <form id=#paralyse class="form-inline" action="/paralyse" method="post">
          <input class="btn btn-primary btn-block" type="submit" value="Paralysis">
        </form>
        <form class="form-inline" action="/hypnosis">
          <input class="btn btn-primary btn-block" type="submit" name="move" value="Hypnosis">
        </form>
      </div>
    </div>
  </div>
</div>
